<div class="container">
    <h1>¿Quiénes Somos?</h1>

    <section>
        <h2>Nuestro Equipo</h2>
        <p>En TiendaMascota, contamos con un equipo apasionado de profesionales amantes de los animales. Nuestro equipo
            está compuesto por expertos en cuidado animal, veterinarios y especialistas en productos para mascotas.
            Trabajamos juntos para ofrecer las mejores soluciones y garantizar la satisfacción de nuestros clientes.</p>
    </section>

    <section>
        <h2>Nuestros Productos</h2>
        <p>En TiendaMascota ofrecemos una amplia gama de productos para mascotas, incluyendo alimentos nutritivos,
            juguetes interactivos, productos de higiene, accesorios y mucho más. Todos nuestros productos son
            seleccionados cuidadosamente para cumplir con los estándares más altos de calidad y seguridad.</p>
    </section>

    <section>
        <h2>Visión</h2>
        <p>Nuestra visión en TiendaMascota es convertirnos en el referente líder en el mercado de productos para
            mascotas, ofreciendo soluciones innovadoras y de alta calidad que promuevan el bienestar y la felicidad de
            las mascotas y sus dueños.</p>
    </section>

    <section>
        <h2>Misión</h2>
        <p>Nuestra misión en TiendaMascota es brindar productos y servicios excepcionales para mascotas, superando las
            expectativas de nuestros clientes. Nos esforzamos por mantener una relación cercana y de confianza con
            nuestros clientes, proporcionando asesoramiento experto y soluciones personalizadas.</p>
    </section>

    <section>
        <h2>Valores</h2>
        <ul>
            <li>Compromiso con el bienestar de las mascotas</li>
            <li>Calidad y excelencia en nuestros productos</li>
            <li>Respeto hacia los animales y el medio ambiente</li>
            <li>Integridad y ética en todas nuestras acciones</li>
            <li>Innovación y mejora continua</li>
            <li>Trabajo en equipo y colaboración</li>
        </ul>
    </section>

    <section>
        <h2>Contacto</h2>
        <p>Si tienes alguna pregunta, comentario o necesitas asesoramiento, no dudes en ponerte en contacto con nuestro
            equipo. Estamos aquí para ayudarte.
            <br>Teléfono: +1234567890
            <br>Correo electrónico: tiendamascota@gmail.com
        </p>
    </section>

    <section>
        <h2>Carrito de Compra</h2>
        <p>En TiendaMascota, ofrecemos un cómodo carrito de compra donde puedes seleccionar y adquirir los productos que
            necesitas para tus mascotas de forma rápida y segura. ¡Explora nuestro catálogo y encuentra todo lo que tu
            mascota necesita!</p>
    </section>
</div>