<section class="content-divider">

    <div class="container">

        <!--Pie-->
        <div class="container">
            <div class="row content-divider mt-3" style="justify-content: center;">
                <div><br></div>

                <div class="col-sm-3 con_borde">
                    <div class="container">
                        <h5 style="display: inline; margin-bottom: 5px;">Peluditos</h5>
                        <ul style="display: inline; margin: 0; padding-left: 10px;">
                            <li routerLink="/home">Inicio</li>
                            <li routerLink="/perros">Productos para mascotas</li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3 con_borde">
                    <div class="container">
                        <h5 style="display: inline; margin-bottom: 5px;">Categorías</h5>
                        <ul style="display: inline; margin: 0; padding-left: 10px;">
                            <li routerLink="/perros">Perros</li>
                            <li routerLink="/gatos">Gatos</li>
                            <li routerLink="/conejos">Conejos</li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3 con_borde">
                    <div class="container">
                        <h5 style="display: inline; margin-bottom: 5px;">Nosotros</h5>
                        <ul style="display: inline; margin: 0; padding-left: 10px;">
                            <li routerLink="/sobre-nosotros">Quienes somos</li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="container">
                        <h5 style="display: inline; margin-bottom: 5px;"><strong> Contacto</strong></h5>
                        <ul style="display: inline; margin: 0; padding-left: 10px;">
                            <li><strong>Telfs.:</strong> (593) 1111 000</li>
                            <li><strong>Email:</strong> ventas@peluditos.ec</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <footer class="py-6 my-3">
            <p class="text-center text-body-secondary"><strong>© 2023 Peluditos</strong> | Universidad de
                Guayaquil
                <br><strong> Fecha de Publicación:</strong> Marzo 2023 | <strong>Última Actualización:</strong> Junio
                2023
            </p>
        </footer>

    </div>

</section>