<div class="container">
    <header class="d-flex justify-content-center py-3 dark-bg">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-login-tab" routerLink="/login/" type="button" role="tab"
                    aria-controls="pills-login" aria-selected="true">Login</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-catalogo-tab" routerLink="/perros/" type="button" role="tab"
                    aria-controls="pills-catalogo" aria-selected="false">Catalago</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-mascotas-tab" routerLink="/perros/" type="button" role="tab"
                    aria-controls="pills-mascotas" aria-selected="false">Mascotas</button>
            </li>
            <!-- <li class="nav-item" role="presentation">
                <button class="nav-link dropdown-toggle" id="pills-animales-tab" type="button" role="tab"
                    aria-controls="pills-animales" aria-expanded="true">Animales</button>
                <ul class="dropdown-menu" id="pills-animales" role="tabpanel" aria-labelledby="pills-animales-tab">
                    <li><a class="dropdown-item" href="#">perro</a></li>
                    <li><a class="dropdown-item" href="#">gato</a></li>
                    <li><a class="dropdown-item" href="#">conejo</a></li>
                </ul>
            </li> -->
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-about-tab" routerLink="/perros/" type="button" role="tab"
                    aria-controls="pills-about" aria-selected="false">Sobre Nosotros</button>
            </li>
        </ul>
    </header>
</div>