<section id="product">
    <div class="container">
        <nav class="p-1 navbar navbar-light bg-light">
            <span>
                <a href="#"> Inicio /</a> 
                <a routerLink="/perros"> Catálogo /</a>
                <a routerLink="/perros"> Perro</a> 
            </span>
        </nav>
        <div class="row mt-2">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Mascotas</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" routerLink="/perros">Perros</li>
                            <li class="list-group-item" routerLink="/gatos">Gato</li>
                            <li class="list-group-item" routerLink="/conejos">Conejos</li>
                          </ul>
                        </div>
                    <hr>
                    <div class="card-body">
                        <h6 class="card-title">Categorías</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Todas</li>
                            <li class="list-group-item">Alimento</li>
                            <li class="list-group-item">Juguetes</li>
                            <li class="list-group-item">Limpieza</li>
                            <li class="list-group-item">Salud</li>
                          </ul>
                        </div>
                  </div>
            </div>
            <div class="col-10">
                <div class="productHeading text-center">
                    <img class="card-img-top mt-1" src="./assets/img/banner-catalogo.jpg" alt="Card image cap">
                    <h3 class="mb-3">Catálogo para Perros</h3>
                    <hr>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-3 pt-1" *ngFor="let product of listaProductos">
                        <div class="box-shadow">
                            <div class="card">
                                <img class="img-fluid" style="height: 150px;" [src]="product.urlFoto" class="card-img-top"
                                    alt="...">
                                <div class="card-body">
                                    <h6 class="card-title text-center">{{product.nombre}}</h6>
                                    <p class="card-text">Precio: <span
                                            class="text-danger fw-semibold me-2">${{product.precioVenta}}</span><del> ${{product.precioVenta}}</del>
                                        <span class="text-success ms-2">35% Off</span>
                                        <br>Disponible: <span
                                        class="text-black fw-semibold me-2">{{product.stock}}</span></p>                                     
                                    <div class="text-center">
                                        <button class="btn btn-sm btn-primary" 
                                            (click)="agregarCarrito()">
                                            <i class="bi bi-cart-plus-fill"></i> Añadir al Carrito</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>
