<section id="product">
    <div class="container">
        <nav class="p-1 navbar navbar-light bg-light">
            <span>
                <a href="#"> Inicio /</a> 
                <a routerLink="/home-catalogos"> Catálogo /</a>
                <a routerLink="/perros"> Perros</a> 
            </span>
        </nav>
        <div class="row mt-2">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title"><b>Mascotas</b></h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" routerLink="/perros">Perros</li>
                            <li class="list-group-item" routerLink="/gatos">Gato</li>
                            <li class="list-group-item" routerLink="/conejos">Conejos</li>
                        </ul>
                    </div>
                    <hr>
                    <div class="card-body">
                        <h6 class="card-title"><b>Categorías</b></h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Todas</li>
                            <li class="list-group-item">Alimento</li>
                            <li class="list-group-item">Juguetes</li>
                            <li class="list-group-item">Limpieza</li>
                            <li class="list-group-item">Salud</li>
                          </ul>
                    </div>
                  </div>
            </div>
            <div class="col-10">
                <div class="productHeading text-center">
                    <img class="card-img-top mt-1" src="./assets/img/banner-perros.jpg" alt="Card image cap">
                    <div style="background-color: #f3943b; color: white;">
                        <h4 class="p-1">Catálogo para Perros</h4>
                    </div>
                    <hr>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-3 pt-1" *ngFor="let product of listaProductos; let i=index">
                        <div class="box-shadow">
                            <div class="card">
                                <img class="img-fluid" style="height: 200px;" [src]="product.urlFoto" class="card-img-top"
                                    alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{product.nombre}}</h5>
                                    <p class="card-text">Precio: <span
                                            class="text-danger fw-semibold me-2">$ {{product.precioVenta.toFixed(2)}}</span>
                                        <br>Disponible: <span
                                        class="text-black fw-semibold me-2">{{product.stock}}</span></p>                                     
                                    <div class="text-center">
                                        <button class="btn btn-sm btn-dark" (click)="openModal()"><i class="bi bi-eye"></i></button>

                                        <!--Modal de Detalle-->
                                        <div class="modal fade show" id="detalle" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                              <div class="modal-content">
                                                <div class="modal-header" style="background-color: #f3943b; color: white;">
                                                    <div class="text-center" style="width: 100%;">
                                                        <span class="modal-title"><b>{{product.nombre}}</b></span>
                                                    </div>
                                                    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row" style="width: 100%;">
                                                        <div class="col-5">
                                                            <img class="img-fluid" style="height: 150px;" [src]="">
                                                        </div>
                                                        <div class="col" style="text-align: left;">
                                                            <p><b>Descripción: </b>{{product.descripcion}}</p>
                                                            <hr>
                                                            <span><b>Precio: </b>$ {{product.precioVenta.toFixed(2)}}</span><br>
                                                            <span><b>Stock: </b>{{product.stock}}</span><br>
                                                            <div class="input-group mb-3">
                                                                <span class="input-group-text" id="basic-addon1">Cantidad</span>
                                                                <input type="number" class="form-control" value="1">
                                                              </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-sm btn-primary" style="margin-left: 4px;" 
                                                        (click)="agregarCarrito()">
                                                        <i class="bi bi-cart-plus-fill"></i> Añadir al Carrito</button>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                          <!--Fin de modal-->

                                        <button class="btn btn-sm btn-primary" style="margin-left: 4px;" 
                                            (click)="agregarCarrito()">
                                            <i class="bi bi-cart-plus-fill"></i> Añadir al Carrito</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>




