<section>
    <!--Banner-->
    <div class="container">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://img.freepik.com/psd-gratis/plantilla-banner-tienda-mascotas_23-2148436885.jpg?w=826&t=st=1687327410~exp=1687328010~hmac=d1e2a23eb7282a54cad04e12c48fce4417bb43176a1abf4de4689293e25dd518"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://img.freepik.com/psd-gratis/concepto-plantilla-banner-tienda-mascotas_23-2148436888.jpg?w=826&t=st=1687327325~exp=1687327925~hmac=753e25fa40e2502f780a8368cff87faa9b22831a7cb5bc2760b6f2e455e594d4"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://img.freepik.com/psd-gratis/plantilla-banner-tienda-mascotas_23-2148869690.jpg?w=826&t=st=1687327356~exp=1687327956~hmac=663c9ccf95925a7f3f10b1380c9926cb6e8b6393d72044b70b9d39d3f90d7e85"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://img.freepik.com/psd-gratis/plantilla-banner-tienda-mascotas_23-2148869690.jpg?w=826&t=st=1687327356~exp=1687327956~hmac=663c9ccf95925a7f3f10b1380c9926cb6e8b6393d72044b70b9d39d3f90d7e85"
                        class="d-block w-100" alt="...">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Atras</span>
                </button>
            </div><br>
        </div>
        <!-- Widget -->
        <div class="row">
            <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="card text-center o-hidden border-0 shadow-lg my-10">
                    <i class="bi bi-shield-check"></i>
                    <div class="card-body">
                        <p class="card-text">Compra segura en línea</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="card text-center o-hidden border-0 shadow-lg my-10">
                    <i class="bi bi-cart-check-fill"></i>
                    <div class="card-body">
                        <p class="card-text">Variedad de productos</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center o-hidden border-0 shadow-lg my-10">
                    <i class="bi bi-credit-card"></i>
                    <div class="card-body">
                        <p class="card-text">Aceptamos todas las tarjetas</p>
                    </div>
                </div>
            </div>
        </div><br>

        <!--Imagen secundaria-->
        <img src="./assets/img-estructura/domicilio.png" class="d-block w-100" alt="..."><br>

        <!--Pie-->
        <div class="container">
            <div class="row content-divider mt-3" style="justify-content: center;">
                <div><br></div>
                <div class="col-sm-3 con_borde">
                    <div class="container">
                        <h5 style="display: inline; margin-bottom: 5px;">Peluditos UG</h5>
                        <ul style="display: inline; margin: 0; padding-left: 10px;">
                            <li routerLink="/home">Inicio</li>
                            <li routerLink="/perros">Productos para mascotas</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 con_borde">
                    <div class="container">
                        <h5 style="display: inline; margin-bottom: 5px;">Categorías</h5>
                        <ul style="display: inline; margin: 0; padding-left: 10px;">
                            <li routerLink="/perros">Perros</li>
                            <li routerLink="/gatos">Gatos</li>
                            <li routerLink="/conejos">Conejos</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 con_borde">
                    <div class="container">
                        <h5 style="display: inline; margin-bottom: 5px;">Nosotros</h5>
                        <ul style="display: inline; margin: 0; padding-left: 10px;">
                            <li routerLink="/sobre-nosotros">Quienes somos</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="container">
                        <h5 style="display: inline; margin-bottom: 5px;"><strong> Contacto</strong></h5>
                        <ul style="display: inline; margin: 0; padding-left: 10px;">
                            <li><strong>Telfs.:</strong> (593) 1111 000</li>
                            <li><strong>Email:</strong> ventas@peluditosUG.ec</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>