<section>
    <!--Banner-->
    <div class="container">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://img.freepik.com/psd-gratis/plantilla-banner-tienda-mascotas_23-2148436885.jpg?w=826&t=st=1687327410~exp=1687328010~hmac=d1e2a23eb7282a54cad04e12c48fce4417bb43176a1abf4de4689293e25dd518"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://img.freepik.com/psd-gratis/concepto-plantilla-banner-tienda-mascotas_23-2148436888.jpg?w=826&t=st=1687327325~exp=1687327925~hmac=753e25fa40e2502f780a8368cff87faa9b22831a7cb5bc2760b6f2e455e594d4"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://img.freepik.com/psd-gratis/plantilla-banner-tienda-mascotas_23-2148869690.jpg?w=826&t=st=1687327356~exp=1687327956~hmac=663c9ccf95925a7f3f10b1380c9926cb6e8b6393d72044b70b9d39d3f90d7e85"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://img.freepik.com/psd-gratis/plantilla-banner-tienda-mascotas_23-2148869690.jpg?w=826&t=st=1687327356~exp=1687327956~hmac=663c9ccf95925a7f3f10b1380c9926cb6e8b6393d72044b70b9d39d3f90d7e85"
                        class="d-block w-100" alt="...">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Atras</span>
            </button>
        </div><br>
        <!--Imagen secundaria-->
        <img src="https://www.mundomascota.ec/img/Banner_1201x266px-min.png" class="d-block w-100" alt="...">
    </div>
</section>