<section id="product">
    <div class="container">
        <nav class="p-1 navbar navbar-light bg-light">
            <span>
                <a href="#"> Inicio /</a> 
                <a routerLink="/home-catalogos"> Catálogo /</a>
                <a routerLink="/conejos"> Conejos</a> 
            </span>
        </nav>
        <div class="row mt-2">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><b>Mascotas</b></h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" routerLink="/perros">Perros</li>
                            <li class="list-group-item" routerLink="/gatos">Gato</li>
                            <li class="list-group-item" routerLink="/conejos" (click)="mostrarProducto()">Conejos</li>
                        </ul>
                    </div>
                    <hr>
                    <div class="card-body">
                        <h5 class="card-title"><b>Categorías</b></h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" (click)="filtrarPorCategoria('Todas')">Todas</li>
                            <li class="list-group-item" (click)="filtrarPorCategoria('Alimento')">Alimento</li>
                            <li class="list-group-item" (click)="filtrarPorCategoria('Juguetes')">Juguetes</li>
                            <li class="list-group-item" (click)="filtrarPorCategoria('Limpieza')">Limpieza</li>
                            <li class="list-group-item">Salud</li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <div class="productHeading text-center">
                    <img class="card-img-top mt-1" src="./assets/img/banner-conejos.jpg" alt="Card image cap" width="100" height="180">
                    <h2 class="mb-3">Catálogo para Conejos</h2>
                    <hr>
                </div>
                <div class="row mt-3">
                    <!-- <div class="col-lg-3 pt-1" *ngFor="let product of listaFiltrada">
                        <div class="box-shadow">
                            <div class="card">
                                <img class="img-fluid" style="height: 150px;" [src]="product.urlFoto" class="card-img-top"
                                    alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{product.nombre}}</h5>
                                    <p class="card-text">Precio: <span
                                            class="text-danger fw-semibold me-2">$ {{product.precioVenta.toFixed(2)}}</span>
                                        <br>Disponible: <span
                                        class="text-black fw-semibold me-2">{{product.stock}}</span></p>                                     
                                    <div class="text-center">
                                        <button type="button" class="btn btn-sm btn-dark" data-toggle="modal" data-target="#exampleModalCenter"><i class="bi bi-eye"></i></button>

                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                  ...
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                  <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                        <button class="btn btn-sm btn-primary" style="margin-left: 4px;" 
                                            (click)="agregarCarrito()">
                                            <i class="bi bi-cart-plus-fill"></i> Añadir al Carrito</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  -->
                </div>
            </div>
        </div>
    </div>
</section>