<!-- <div class="container">
    <div class="dropdown-menu">
        <div class="mx-auto">
            <form class="px-5 py-3">
                <h2 style="text-align: center">Acceder</h2><br>
                <div class="mb-3">
                    <label for="exampleDropdownFormEmail1" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="exampleDropdownFormEmail1"
                        placeholder="email@ejemplo.com">
                </div>
                <div class="mb-3">
                    <label for="exampleDropdownFormPassword1" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" id="exampleDropdownFormPassword1"
                        placeholder="Ingrese su contraseña">
                </div>

                <div class="mx-auto">
                    <div class="form-check justify-content-center" style="display: flex; align-items: center;">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck" style="margin-left: 5px;">Recordarme</label>
                    </div>
                    
                    <div class="d-grid gap-3 col-8 mx-auto">
                        <button class="btn btn-primary border-0" type="submit"
                            style="background-color: rgb(0, 174, 158); border-radius: 50px; margin-top: 5px;">Acceder</button>
                    </div>
                </div>
            </form>
            <div class="dropdown-divider"></div>
            <div style="text-align: center;">
                <a href="#">Olvidé mi contraseña?</a><br>
                <a href="#">Eres nuevo por aquí? Regístrate</a>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-10">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Bienvenido de vuelta!</h1>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Ingresa tu dirección de email...">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Ingresa tu contraseña...">
                                    </div>
                                    <div class="form-group text-center">
                                        <!-- Agrega la clase "text-center" para centrar el contenido -->
                                        <div class="custom-control custom-checkbox small d-inline-block">
                                            <!-- Agrega la clase "d-inline-block" para que los elementos se muestren en línea -->
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Recordarme</label>
                                        </div>
                                    </div>

                                    <a routerLink="/navbar" class="btn btn-primary btn-user btn-block">
                                        Acceder
                                    </a>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="#">Olvidaste tu contraseña?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="#">Crea una cuenta!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>